[submodule "public"]
	path = public
	url = https://github.com/andrewfowlie/andrewfowlie.github.io.git
	ignore = all
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
	ignore = all
[submodule "bashblog"]
	path = bashblog
	url = https://github.com/cfenollosa/bashblog
